# Node.js
node_modules/

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.* 

# Dependency directories
bower_components/
jspm_packages/

# Operating System files
.DS_Store
Thumbs.db

# IDE / Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# npm package lock files
package-lock.json
yarn.lock

# Temporary files
*.tmp
